@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);
@import url("http://www.fontstatic.com/f=bahij");
@import url("http://www.fontstatic.com/f=flat-jooza");

:root {
   --main-color: #f8f6f6;
   --sub-color: #76bde3;
   --white: #044263;
   --border: .1rem solid rgba(220, 198, 156, .3);

}



.Active {
   background-color: whitesmoke;
   color: #76bde3 !important;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background-color: var(--main-color);
  

}

section {
   padding: 3rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
   direction: ltr;
}

.btnn {
   display: inline-block;
   cursor: pointer;
   padding: 1rem 3rem;
   border: var(--border);
   font-size: 1.8rem;
   border-radius: 5rem;
   background-color: var(--sub-color);
   color: var(--main-color);
   font-family: 'Amiri', serif;
   font-weight: bold;
   /* color: var(--sub-color); */
   text-align: center;
   text-transform: capitalize;
   transition: .2s linear;
   margin-top: 1rem;
   text-decoration: none;
   /* background-color: var(--main-color); */
}

.btnn:hover {
   border-radius: 5rem;
   background-color: var(--main-color);
   color: var(--sub-color);
   text-decoration: none;
}

.header {
   padding-bottom: 0;
   font-family: 'flat-jooza';
}

.header .flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.header .flex .logo {
   width: 160px;
   cursor: pointer;

}

.header .flex .btnn {
   margin-top: 0;
}

.header .flex .fa-bars {
   font-size: 3rem;
   cursor: pointer;
   color: var(--sub-color);
   display: none;
}

.header .navbar {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 1.5rem;
   margin-top: 2rem;
   background-color: var(--sub-color);
   padding: .5rem;
   border-radius: .5rem;

}

.header .navbar a {
   font-size: 1.8rem;
   color: var(--main-color);
   padding: 1rem 3rem;
   border-radius: .5rem;
   text-decoration: none;
}

.header .navbar a:hover {
   background-color: var(--main-color);
   color: var(--sub-color);
   text-decoration: none;
}

.home .box img {
   border-radius: .5rem;
   height: 65vh;
   width: 100%;
   object-fit: cover;
}

.home .box .flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
   flex-wrap: wrap;
   margin-top: 1.5rem;
}

.home .box .flex h3 {
   font-size: 2.5rem;
   color: var(--sub-color);
   text-transform: capitalize;
}

.swiper-button-prev {
   left: 0%;
}

.swiper-button-next {
   right: 0;
}

.swiper-button-next,
.swiper-button-prev {
   padding: 3rem 2rem;
   background-color: var(--white);
   top: 50%;
   opacity: .7;
}

.swiper-button-next::after,
.swiper-button-prev::after {
   color: var(--main-color);
   font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
   opacity: 1;
}


/* media queries  */

@media (max-width:991px) {

   html {
      font-size: 55%;
   }

   .header .flex .fa-bars {
      display: inline-block;
   }

   .header .flex .btnn {
      display: none;
   }

   .header .navbar {
      flex-flow: column;
      padding: 2rem;
      display: none;
   }

   .header .navbar.active {
      display: flex;
   }

}

@media (max-width:768px) {

   .home .box img {
      height: 40vh;
   }

   .swiper-button-next,
   .swiper-button-prev {
      top: 35%;
   }

}

@media (max-width:450px) {

   html {
      font-size: 50%;
   }

   .header .flex .logo {
      font-size: 2rem;
   }

   .home .box img {
      height: 25rem;
   }
}

/*--------------------------------------------------------------
 Services Page
 --------------------------------------------------------------*/

.wraper {
   font-family: 'Times New Roman', Times, serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: var(--main-color);

}

.wraper h1 {
   font-size: 5em;
   margin: 25px 0;
   text-align: center;
   font-weight: bolder;
   color: rgb(100, 100, 252);
   text-shadow: 2px 2px #a8c3f9;
}
.wraper h2{
   font-family: 'flat-jooza';
}


.content-box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 78%;
   margin-top: 30px;
   background-color: var(--main-color);
   box-sizing: border-box;


}

.card {
   min-height: 220px;
   width: 320px;
   padding: 50px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   background: #fff;
   margin: 20px 4px;
   box-shadow: 0 30px 25px rgb(0, 0, 0, 0.2);
   position: relative;


}

.card img {
   width: 70px;
   height: 100px;
   margin: 20px auto;
}

.card h2 {
   margin-bottom: 12px;
   font-weight: 400;
   text-align: center;
   color: #3022fb;

}

.card .s {
   position: absolute;
   background-color: #025ffe;
   width: 100%;
   height: 3px;
   bottom: 0;
   right: 0;
   border-radius: 5px;
}

@media(max-width:991px) {
   .wraper {
      padding: 25px;
   }

   .wraper h1 {
      font-size: 2.5em;
      font-weight: 600;
   }

   .content-box {
      flex-direction: colum;
      width: 100%;
   }

   .card {
      min-width: 300px;
      margin: 10px auto;

   }



}

/* -------------------------------------Gallery Page ------------------------------- */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/



body::before {
   content: "";
   position: fixed;
   background: #f8f6f6 url("../img/bg.jpg") top right no-repeat;
   background-size: cover;
   left: 0;
   right: 0;
   top: 0;
   height: 100vh;
   z-index: -1;
}

@media (min-width: 1024px) {
   body::before {
      background-attachment: fixed;
   }
}

a {
   color: #362cfd;
   text-decoration: none;
}

a:hover {
   color: #f1f2f3;
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Raleway", sans-serif;
}

.p-70 {
   padding: 70px 0;
}



/*--------------------------------------------------------------


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
 body {
   color: #fff;
   position: relative;
   background: transparent;
} 

img {
   width: 100%;
}


@media (min-width: 1024px) {
   body::before {
      background-attachment: fixed;
   }
}

a {
   color: #025ffe;
   text-decoration: none;
}

a:hover {
   color: #025ffe;
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Raleway", sans-serif;
}

.p-70 {
   padding: 70px 0;
}

.container {
   overflow: hidden;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
section .container {
   /* background-color: rgba(0, 0, 0, 0.9); */
   padding: 30px;
}

.portfolio .portfolio-item {
   margin-bottom: 30px;
}

.portfolio #portfolio-flters {
   padding: 0;
   margin: 0 auto 15px auto;
   list-style: none;
   text-align: center;
   border-radius: 50px;
   padding: 2px 15px;
}

.portfolio #portfolio-flters li {
   cursor: pointer;
   display: inline-block;
   padding: 8px 16px 10px 16px;
   font-size: 14px;
   font-weight: 600;
   line-height: 1;
   text-transform: uppercase;
   color: #fff;
   background: rgba(255, 255, 255, 0.1);
   margin: 0 3px 10px 3px;
   transition: all 0.3s ease-in-out;
   border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
   background: #76bde3;
}

.portfolio #portfolio-flters li:last-child {
   margin-right: 0;
}

.portfolio .portfolio-wrap {
   transition: 0.3s;
   position: relative;
   overflow: hidden;
   z-index: 1;
   background: rgba(0, 0, 0, 0.6);
}

.portfolio .portfolio-wrap::before {
   content: "";
   background: rgba(0, 0, 0, 0.6);
   position: absolute;
   left: 30px;
   right: 30px;
   top: 30px;
   bottom: 30px;
   transition: all ease-in-out 0.3s;
   z-index: 2;
   opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
   opacity: 0;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   text-align: center;
   z-index: 3;
   transition: all ease-in-out 0.3s;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
   display: block;
   content: "";
   width: 48px;
   height: 48px;
   position: absolute;
   top: 35px;
   left: 35px;
   border-top: 3px solid #fff;
   border-left: 3px solid #fff;
   transition: all 0.5s ease 0s;
   z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
   display: block;
   content: "";
   width: 48px;
   height: 48px;
   position: absolute;
   bottom: 35px;
   right: 35px;
   border-bottom: 3px solid #fff;
   border-right: 3px solid #fff;
   transition: all 0.5s ease 0s;
   z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
   font-size: 20px;
   color: #fff;
   font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
   color: #ffffff;
   font-size: 14px;
   text-transform: uppercase;
   padding: 0;
   margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
   text-align: center;
   z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
   color: #fff;
   margin: 0 2px;
   font-size: 28px;
   display: inline-block;
   transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
   color: #76bde3;
}

.portfolio .portfolio-wrap:hover::before {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
   opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
   top: 15px;
   left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
   bottom: 15px;
   right: 15px;
}

.section-title1 {
   text-align: right;
   
   
}

.section-title1 h2 {
   font-size: 14px;
   font-weight: 500;
   padding: 0;
   line-height: 1px;
   margin: 0 0 20px 0;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #aaaaaa;
   font-family: "Poppins", sans-serif;
   
   
}

.section-title1 h2::after {
   content: "";
   width: 120px;
   height: 1px;
   display: inline-block;
   background: #025ffe;
   margin: 4px 10px;
  
}

.section-title1 p {
   margin: -15px 0 15px 0;
   font-size: 36px;
   font-weight: 700;
   text-transform: uppercase;
   font-family: "Poppins", sans-serif;
   color: #fff;
}

.Btn {
   background-color: transparent;
   color: white;
   border: none;
   box-shadow: 0;
   position: relative;
   top: -5px;
   transition: all .3s;
}

.Btn i {
   transition: all .3s;
   font-size: 18px;
}

.Btn:hover i {
   color: rgb(78, 167, 219);

}

@media (min-width: 576px) {
   .modal-dialog {
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
   }
}

.modal-body {
   overflow: hidden;
}

.modal-content {
   background: linear-gradient(90deg, rgb(2, 86, 160) 0%, rgb(63, 64, 64) 100%);
   box-shadow: 0 0 10px white;
}

.modal-header {
   flex-direction: row-reverse;
}

.text-modal {
   text-align: right;
}

.text-modal p {
   font-size: 20px;
   color: #FFF;
}

.text-modal span {
   font-size: 18px;
   color: #FFF !important;
}

.modal-footer>* {
   padding: 10px 20px;
   font-size: 18px;
}


/*--------------------------------------------------------------
# Reservation Details
--------------------------------------------------------------*/
.portfolio-details {
   padding-top: 40px;
   color: black !important;
}

.portfolio-details .portfolio-details-slider img {
   width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
   margin-top: 20px;
   position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   background-color: #fff;
   opacity: 1;
   border: 1px solid #47b2e4;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
   background-color: #47b2e4;
}

.portfolio-details .portfolio-info {
   padding: 30px;
   box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.portfolio-details .portfolio-info h3 {
   font-size: 22px;
   font-weight: 700;
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
   list-style: none;
   padding: 0;
   font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
   margin-top: 10px;
}

.portfolio-details .portfolio-description {
   padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
   font-size: 26px;
   font-weight: 700;
   margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
   padding: 0;
}





/*#############################*/
/* معلومات عنا */
/*#############################*/

.container {
   padding: 3vw 15px;
   margin-left: auto;
   margin-right: auto;
}

.text-ss{
   font-size: 30px;
}

.contact {
   font-size: 2.5vw;
   text-align: center;
   color: white;
   /* font-family: 'Alexandria', sans-serif;
   font-family: 'Readex Pro', sans-serif; */
   font-family: 'Noto Sans Arabic', sans-serif;
   text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.parent {
   width: 100%;
   display: inline-flex;
   background-color: #d3ebf8;
   border-radius: 3vw 30% 3vw 3vw;
   border: solid #0b9fa1
}

.info {
   width: 50%;
   margin: 1.5vw;
}

.par,
.follow {
   font-size: 1.5vw;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   margin-right: 1.2vw;
   text-align: center;
}

.number {
   font-size: 1.3vw;
   margin-right: 3%;
   font-weight: bolder;
   font-family: 'Alexandria', sans-serif;

}

.info1,
.info2,
.info3 {
   margin: 5%;


}

div div i {
   font-size: 1.5vw;
}

.icon i {
   margin: 4vw;
   font-size: 2vw;
}

.form {
   width: 50%;
   background-image: url("3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   margin: 1.3vw;

}

form {

   padding: 2vw;

}

.textinput {
   width: 15vw;
   height: 2vw;
   margin: 1vw;
   border-radius: 3vw;
}

textarea {
   width: 27vw;
   height: 6vw;
   margin: 1vw;
   border-radius: 2vw;
   padding: .3vw 1vw 0 0;
}

.submit {
   width: 10vw;
   height: 2.5vw;
   display: flex;
   justify-content: center;
   margin: auto;
   border-radius: 6.5vw 1.5vw;
   border: none;

}

.submit:hover {
   background-color: #2db2b5;
   color: aliceblue;
   font-size: 1.5vw;

}

.hotel-info {
   overflow: hidden;
}

.hotel-info-text {
   color: black;
}

.about_des p {
   font-size: 18px;
}

/* Small screen */
@media (min-width:768px) {
   .container {
      width: 750px;
   }
}

/* medium screen */
@media (min-width:992px) {
   .container {
      width: 970px;
   }
}

/* large screen */
@media (min-width:1200px) {
   .container {
      width: 1170px;
   }
}





/* /////////////////////////////// */
.img {
   background-image: url("../img/4.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   height: 100vh;

}

.img p {
   font-size: 5vw;
   text-align: center;
   color: black;
   z-index: 6;
   font-family: 'Noto Sans Arabic', sans-serif;
   color: white;
   text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;


}

.container1 {
   padding: 3vw 0 1.5vw;
   margin: auto;
   /* position: relative; */
}

.four {
   width: 100%;
   background-color: #d1b1e18c;
   margin-top: 3vw;
   position: relative;
   border-style: outset;
   border-radius: 3vw;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.par {
   font-size: 5vw;
   text-align: center;
   margin: 6vw 0 2vw 0;
   text-shadow: 0 0 3px #FF0000;
   color: #292626;
   text-shadow: 3px 3px 20px #da2e84,
      -2px 1px 30px #da659f;
}

.four img {
   width: 65%;
   height: 35vw;
   border-radius: 7vw;
   margin: 0 auto;
   /* display: flex; */
   position: relative;
   display: block;
   padding: 2vw;

}

.hotel-team .btn {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1vw;
}

.btn button {
   background: none;
   outline: none;
   border: none;
   color: rgb(114, 19, 209);
   font-size: 6vw;

}

.btn button:hover {
   color: #0fb60f;
}

.hotel-team .icon a {
   margin: 2vw;
   font-size: 2vw;
   position: relative;



}

.hotel-team .icon a i {
   width: calc(60%/3);
   margin: 1.5vw;
   text-align: center;
}

.name {
   font-size: 2.3vw;
   text-align: center;
   position: relative;
}

#mypara {
   line-height: 2;
   font-size: 1.5vw;
   position: relative;
   padding: 0 1.5vw;
}

.quest {
   font-size: 40px;
   color: black;
   margin-bottom: 20px;
   text-align: center;
}





.panel {
   padding: 0 1vw;
   background-color: white;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   font-size: 2vw;
}



.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #181717;
   position: relative;
   color: #f1960d;
   text-align: center;
}

.footer p {
   position: relative;
   padding: .5vw 0;
   font-size: 1.5vw;
   font-weight: 600;

}

.accordion {
   font-size: 20px;
}

.accordion-item button {
   font-size: 22px;
}

.accordion-button {
   padding: 23px;

}

.accordion-button:hover {
   background-color: #d3ebf8;
   box-shadow: 0 0 10px black;
   transition: all .3s;
}

.accordion-button:not(.collapsed):hover {
   background-color: #d3ebf8;
   box-shadow: 0 0 10px black;
   transition: all .3s;
}

.accordion-button:not(.collapsed) {
   color: black;
   background-color: #FFF;
   box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button::after {
   position: absolute;
   left: 20px;
}

/* Small screen */
@media (min-width:768px) {
   .container1 {
      width: 750px;
   }
}

/* medium screen */
@media (min-width:992px) {
   .container1 {
      width: 970px;
   }
}

/* large screen */
@media (min-width:1200px) {
   .container1 {
      width: 1170px;
   }
}